/1-SimpleLinearRegression.ipynb
/1-studyhours.csv
/2-multiplegradesdataset.csv
/2-MultipleLinearRegression.ipynb
/3-customersatisfaction.csv
/3-newdatas.csv
/3-PolynomialRegression.ipynb
/4-Algerian_forest_fires_dataset.csv
/4-RidgeLassoElasticNet.ipynb
/5-RegressionDecision.ipynb
/5.1-scalerdata.csv
/5.1-ScalerDifferences.ipynb
/taxi_trip_pricing.csv